{% extends "base.html" %}

{% block content %}
<h3>{{title|upper}}</h3>
<br>
<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="{{instance.item_photo}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{instance.item_brand|upper}}</h5>
        <p class="card-text">{{instance.item_name}} {%if instance.item_model%}{{instance.item_model}}{%else%}{%endif%}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}